.header-container{
    display: flex;
    position: relative;
    background-color: grey;
}

.LOGO{
    background-color: lightblue;
    width: 200px;
    height: 65px;
    justify-content: space-between;

    text-decoration: none;
    border-radius: 15px;
    z-index: 3;
}
.LOGO img{
    width: 200px;
    height: 65px;
    border-radius: 15px;
}

.search{
    display: flex;
    align-items: center;
    margin-left: 100px;
    
}

.searchicon{
    width: 50px;
    height: 30px;
    position: absolute;
    margin-left: 250px;
    z-index: 2;
}

.searchbar{
    width: 300px;
    height: 40px;
    position: relative;
    padding-left: 20px;
    margin-left: 15px;
    border-radius: 15px;  
    border: 1px solid lightblue;
    z-index: 1;
}


.favourite, .cart{
    background-color: lightblue;
    width: 65px;
    height: 65px;
    position: relative;
    align-items: center;
    margin-left: auto;
	margin-right: 50px;
	border-radius: 10px;
	justify-content: center;
	display: flex;
}
.favourite img,.cart img{
	width: 50px;
	height: 50px;
}
.userinfo{
    display: inline-block;
    background-color: lightblue;
    width: 65px;
    height: 65px;
    position: relative;
    align-items: end;
    margin-left: auto;
	border-radius: 10px;
}
.userinfoDropdown{
    display: none;
    position: absolute;
    background-color: lightgreen;
    width: 130px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    border-bottom: 30px;
    border-top: 0px;
    z-index: 1;
    
    text-decoration: none;
}
.loginDropdown{
    z-index: 1;
    left: -65px;
    top: 65px;
    color: blue;
	border-radius: 10px;
}
.register::before{
	content: '';
    display: block;
    border: 1px solid #C0C0C0;
    width: 100px;
    margin: 0 auto;
}
.registerDropdown{
    z-index: 2;
    left: -65px;
    top: 105px;
    color: blue;
	border-radius: 10px;
}

.userinfo:hover .userinfoDropdown {
    display: block;
}


.headerend-container{
    margin-left: auto;
    display: flex;
}

img{
    max-width: 100%;
    height: auto;
}

.catblock{
	display: flex;
	justify-content: space-evenly;
	height: 95px;
	background-color: #B06F70;
	border-radius: 0;
	position: relative;
}

.category{
	border-radius: 5px;
	position: relative;
}

.catblock .category:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 55px;
    width: 5px;
    background-color: #6FECCE;
    left: 210;
    top: 0;
}

.category{
	background-color: lightblue;
	width: 150px;
	height: 55px;
	text-align: center;
	line-height: 55px;
}

.bookdetail{
    display: flex;
	height: 670px;
}

.bookdetail .image{
    margin-top: 30px;
    margin-left: 130px;
	height: 640px;
}

.name{
	margin-left: 125px;
	margin-top: 50px;
	font-weight: bold;
	font-size: 25
}

.author{
	margin-top: 100px;
	margin-left: 125px;
	font-size: 23;
}

.price{
	margin-top: 50px;
	margin-left: 125px;
	font-size: 23;
}

.buybutton, .fav{
	width: 125px;
	height: 65px;
	background-color: lightblue;
	border-radius: 15px;
	margin-top: 20px;
	margin-left: 125px;
}

.bookdetail2{
	width: 380px;
	margin-left: 125px;
	margin-top: 30px;
	border-radius: 10px;
}

.content{
	margin-left: 75px;
	margin-top: 40px;
	position: relative;
	font-size: 24px;
    background-color: aquamarine;
    width: 200px;
    text-align: center;
    border-radius: 5px;
}

.content::after{
	content: '';
	width: 98vw;
	height: 5px;
	top: 50;
	left: -75;
	background-color: black;
	position: absolute;
}

.details{
    margin-top: 50px;
    margin-left: 20px;
    width: 95%;
    background-color: lightcyan;
}

.contentdetails .details{
    margin-top: 50px;
    margin-left: 20px;
    width: 95%;
    background-color: lightcyan;
}

.detailblock .details{
    
    background-color: lightcyan;
}

.contentdetails{
    background-color: antiquewhite;
	border-radius: 10px;
}

body{
    background-color: #C7FFB0;
}

@media  screen and (max-width: 576px) {
    .LOGO{
        width: 25%;
        height: auto;
    }
    .search{
        margin-left: 5%;
		max-width: 35%;
    }

    .searchicon{
        margin-left: 25%;
    }

    .searchbar{
        position: relative;
        padding-left: 10%;
        margin-left: 5%;
    }

	.headerend-container{
		max-width: 30%;
	}

	.favourite, .cart{
    	width: 30%;
    	height: 70%;
		margin-right: 3%;
		margin-top: 5%;
	}

	.userinfo{
    	width: 30%;
    	height: 70%;
		margin-top: 5%;
	}

    .loginDropdown{
		top: 45px;
		left: -165%;
	}
	
	.registerDropdown{
		top: 90px;
		left: -165%;
	}
	
	.userinfoDropdown{
		padding-top: 15px;
	}

    .bookdetail{
        display: flex;
        height: 640px;
        position: relative;
    }
    
    .bookdetail .image{
        margin-top: 10%;
        margin-left: 5%;
        height: 60%;
        width: 45%;
        position: absolute;
    }
    
    .name{
        margin-left: 55%;
        margin-top: 50px;
        font-weight: bold;
        font-size: 20;
        flex-wrap: wrap;
    }
    
    .author{
        margin-top: 100px;
        margin-left: 55%;
        font-size: 18;
    }
    
    .price{
        margin-top: 50px;
        margin-left: 125px;
        font-size: 23;
    }
    
    .buybutton{
        width: 125px;
        height: 65px;
        background-color: lightblue;
        border-radius: 15px;
        margin-top: -10%;
        margin-left: 60%;
    }

    .fav{
        margin-top: 10%;
        margin-left: 60%;
    }
    
    .bookdetail2{
        margin-left: 5%;
        margin-top: -10%;
        border-radius: 10px;
    }
}
