.loginheader{
    background-color:  lightcyan;
    width: 500px;
    height: 65px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px;
}
.LOGO{
    background-color: grey;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    width: 150px;
    height: 60px;
}

.registerinput{
    margin-top: 0;
    background-color: lightcyan;
    width: 700px;
    height: 160px;
    font-size: 20;
    border-radius: 20px;

}
.emailInput , .passwordInput, .dob{
    padding-top: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.emailInput label, .passwordInput label, .dob label{
    width: 120px; 
    margin-right: 10px; 
    text-align: right; 
}

.dob{
	padding-bottom: 35px;
	height: 60px;
	text-align: center;
    padding-right: 5px;
}

.email , .password{
    height: 30px;
    width: 450px;
    font-size: 14pt;
}

#message1, #message2, #message3{
    font-size: 16px;
    width: 100px;
    margin-left: 15px;
}

.fastlogin{
    display: flex;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    justify-content: space-evenly;
}
.fastlogin img{
    width: 50px;
    height: 50px;
}

.fb, .google, .twitter, .apple{
    background-color: #316FF6;
    width: 170px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 15px;
}
.google{
    background-color: white;
}

.twitter{
    background-color: grey;
}

.apple{
    background-color: black;
}


.tns, .tns label, .notification ,.notification label{
    margin-top: 35px;
    margin-left: 150px;
}

.registerbutton,.login{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 500px;
    height: 65px;
    border: none;
    outline: none;
    border-radius: 20px;
    display: block;
}

.registerbutton{
    background-color: lightblue;
    text-decoration: none;
}
.login{
    margin-top: 50px;
    background-color: #ADD8E6;
    text-decoration: none;
}

.fgpassword{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: none;
    outline: none;
    display: block;
}

body {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 20px;  
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    background-color: lightcyan;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    border-radius: 20px; 
    z-index: -1;
}


