.header-container{
    display: flex;
    position: relative;
    background-color: grey;
}

.LOGO{
    background-color: lightblue;
    width: 200px;
    height: 65px;
    justify-content: space-between;

    text-decoration: none;
    border-radius: 15px;
    z-index: 3;
}
.LOGO img{
    width: 200px;
    height: 65px;
    border-radius: 15px;
}

.search{
    display: flex;
    align-items: center;
    margin-left: 100px;
    
}

.searchicon{
    width: 50px;
    height: 30px;
    position: absolute;
    margin-left: 250px;
    z-index: 2;
}

.searchbar{
    width: 300px;
    height: 40px;
    position: relative;
    padding-left: 20px;
    margin-left: 15px;
    border-radius: 15px;  
    border: 1px solid lightblue;
    z-index: 1;
}


.favourite, .cart{
    background-color: lightblue;
    width: 65px;
    height: 65px;
    position: relative;
    align-items: center;
    margin-left: auto;
	margin-right: 50px;
	border-radius: 10px;
	justify-content: center;
	display: flex;
}
.favourite img,.cart img{
	width: 50px;
	height: 50px;
}
.userinfo{
    display: inline-block;
    background-color: lightblue;
    width: 65px;
    height: 65px;
    position: relative;
    align-items: end;
    margin-left: auto;
	border-radius: 10px;
}
.userinfoDropdown{
    display: none;
    position: absolute;
    background-color: lightgreen;
    width: 130px;
    height: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 15px;
    border-bottom: 30px;
    border-top: 0px;
    z-index: 1;
    
    text-decoration: none;
}
.loginDropdown{
    z-index: 1;
    left: -65px;
    top: 65px;
    color: blue;
	border-radius: 10px;
}
.register::before{
	content: '';
    display: block;
    border: 1px solid #C0C0C0;
    width: 100px;
    margin: 0 auto;
}
.registerDropdown{
    z-index: 2;
    left: -65px;
    top: 105px;
    color: blue;
	border-radius: 10px;
}

.userinfo:hover .userinfoDropdown {
    display: block;
}


.headerend-container{
    margin-left: auto;
    display: flex;
}
img{
    max-width: 100%;
    height: auto;
}

.catblock{
	display: flex;
	background-color: #EFEFEF;
	justify-content: space-evenly;
	height: 95px;
	background-color: #B06F70;
	border-radius: 0;
	position: relative;
}
.category{
	border-radius: 5px;
	position: relative;
}

.catblock .category:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 55px;
    width: 5px;
    background-color: #6FECCE;
    left: 210;
    top: 0;
}
.hotsell-container::before, .bestsell-container::before{
	content: '';
	position: absolute;
	height: 5px;
	display: block;
	width: 100%;
	background-color: #0D0D0D;
	top: -25;
	left: 0;
}


.comingsoon, .hotsell, .bestsell{
	background-color: lightskyblue;
	width: 200px;
	height: 20px;
	padding: 20px 20 20px 10;
	text-align: center;
	font-size: 16;
}
.imageblock{
	display: flex;
	justify-content: center;
}

.pricebox{
	display: flex;
	position: relative;

}


.icon{
	margin-left: 8px;
    width: 45px;
	height: 45px;
	padding: 15px 8px 0 0;
}

.price{
	font-size: 20;
    width: 115px;
}


.comingsoon-container img{
    width: 200px;
    
}
.hotsell-container, .bestsell-container{
	position: relative;
	margin-top: 50px;
}

.hotsell-container img:not(.icon) {
    width: 240px;
    height: 357px;
}
.pricebox{
	background-color: aqua;
}

.bestsell-block{
    display: flex;
}

.bestsell-book{
	background-color: cadetblue;
	width: 480px;
    border-right: 5px solid white;
}

.category{
	background-color: lightblue;
	width: 150px;
	height: 55px;
	text-align: center;
	line-height: 55px;
}

.bestsell-book img{
    margin: 20px;
    width: 130px;
}

footer{
    margin-top: 50px;
    display: flex;
}
.end{
    background-color: lightblue;
    height: 180px;
    justify-content: space-evenly;
	position: relative;
	border-right: 5px solid black;
	border-left: 5px solid black;
    border-top: 5px solid black;
    border-bottom: 5px solid black;

}
.endingtitle{
    text-align: center;
    border-bottom: 3px solid black;
    font: bold;
    font-size: 20;
	
}

.member, .service{
    text-align: center; 
}
.member-container a{
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
    color: black;
}
.customerservice, .aboutus, .contactus{
	text-align: center;
}
.aboutus p{
	max-width: 175px;
	font-weight: bold;
}


body{
    background-color: blanchedalmond;
}